@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>


<h4><u>The Discipline</u></h4>
<p>Computer-based information systems have become a critical part of the products, services, operations, and management of all organizations. 
    The effective and efficient use of information and communications technologies is an important element in achieving competitive advantage 
    for business organizations as well as achieving excellence in service for government and non-profit organizations. The twenty-first century 
    has seen the rapid growth of the Internet, eCommerce, and purely electronic enterprises. These organizations would not even exist without the 
    technology provided by computer-based information systems. The importance of information systems to organizations and the need for well-educated 
    professionals in the field is the basis for strong educational programs and the development of a professional community of information systems 
    (IS) practitioners. <br /></p>

<p>Information systems involves two broad areas: (1) the acquisition, deployment, and management of an organization's information systems resources
     and services and (2) the development of computer-based systems and technology infrastructures for use in organization processes. Information 
    systems professionals provide services ranging from the managerial to the highly technical. Information systems and technology skills are critical
     to the success of virtually all modern organizations, including small business, corporations, government, and educational institutions. <br /><br /></p>

<h4><u>Career Opportunities</u></h4>
<p>Information systems graduates work in large and small organizations of all types, helping maintain existing technology infrastructure and 
    specifying technology solutions to business needs. They serve as the bridge between an organization's technical personnel and its business side. 
    Well-educated information systems graduates are in high demand in accounting firms, consulting firms, large corporations, midsized companies, 
    technical companies, government agencies, and smaller entrepreneurial concerns. Challenging career opportunities embrace a wide range of interests.
     The variety of employment prospects includes opportunities for everyone from those who are primarily interested in people and organizations to those 
    who enjoy very technical activities such as database and network administration or software development. <br /><br /></p>


<p> To view and learn more about all Information Systems courses offered at BYU, click the button below <br />
    <a href="https://catalog.byu.edu/course-list/1,IS" class="btn btn-primary btn-lg">IS Courses &raquo;</a> <br /></p>


<p> To view a list of all the Information Systems professors, click the button below. <br />
    <a href="https://catalog.byu.edu/faculty-list/information-systems" class="btn btn-primary btn-lg">IS Faculty &raquo;</a></p>
