@{
    ViewBag.Title = "Home Page";
}

<!--My main jumbotron on my home page-->
<div class="jumbotron">
    <h1>Information Systems Management</h1>
    <h3>Everyone likes to have career options...few programs will give you more than a bachelor of information systems.<br /></h3>
    <p><ul>
    <li>
        Study in two worlds - business and technology - and learn to help them work together. Learn how to design, develop,
        implement, manage, and advise on information technology systems and processes.
    </li>
    <li>
        Begin a career that the U.S. Department of Labor predicts will, "grow faster than the average for all occupations
        through 2016"
    </li>
</ul></p>
    <p><a href="https://marriottschool.byu.edu/bsis/" class="btn btn-primary btn-lg">BYU IS Website &raquo;</a></p>
    <p><a href="https://catalog.byu.edu/management/information-systems/information-systems-bs-0" class="btn btn-primary btn-lg">Program Prequisites and Requirements &raquo;</a></p>
</div>


<!--Contains brief descriptions about all the areas on my website-->
<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            An information system (IS) is any organized system for the collection, organization, storage and communication of information. 
            More specifically, it is the study of complementary networks that people and organizations use to collect, filter, process, create 
            and distribute data.
            
        </p>
        <p><a class="btn btn-default" href='@Url.Action("About", "Home")'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Degrees</h2>
        <p>Within the Information Systems major, there is opporunity to receive a Bachelors or a Masters degree, click below to learn more!</p>
        <p><a class="btn btn-default" href='@Url.Action("Degrees", "Home")'>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>There are plenty of resources to help you resolve any concerns you may have if you still have questions.</p>
        <p><a class="btn btn-default" href='@Url.Action("Contact", "Home")'>Learn more &raquo;</a></p>
    </div>
</div>